 @font-face {
    font-family: Music;
    src: url("DMSerifDisplay-Regular.ttf");
 }
 
 body {
 
    margin: 0em;
    
 }
 .section {
      padding: 0em 3em;
 }

 .nonhero {
    background: linear-gradient(rgba(154, 233, 240, 0.788),rgba(160, 210, 216, 0.651),rgba(188, 220, 240, 0.87),white);
 }
 
 #frontext {
     font-size: 2rem;
     letter-spacing: 0.2em;
     font-size: 3rem;
     font-family: Music;
     text-shadow: 1px 1px 20px white;
     


 }
.header {
    padding-top: 2em;
    display: flex;
    justify-content: space-between;
    background-color: rgb(223, 220, 219);
}
.logo{
    width: 10rem;
     margin-top: -3em;
    

}
.nav {
    
    display: flex;
    justify-content: space-around;
    padding: 0em 10em;
}
a:link{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
a:hover{
    color: rgb(217, 3, 142);
}
.menuitem {
    
    padding: 0em 2em;
    color:rgb(0, 0, 0);
    font-size: 1.5rem;
    list-style: none;
    font-weight: 700;
}

 #intro { 
    display: flex;
    justify-content: space-between;
   
    
}
.background1 {
     background-color: rgb(223, 220, 219);
     margin-bottom: -1em;
}
.greet {
    font-weight: 800;
    font-size: 3rem;
    
}
#Fname {
    font-size: 4rem;
    letter-spacing: 0.25;

    /* text-shadow: 1px 1px 20px  white; */
}
.Sintro {
    font-size: 1.4rem;
    font-weight: bold;
   /* border: 1px solid beige; */
    /* txt-shadow: 0px 0px 5px white; */
    line-height: 1.6;
    padding-left: 5em;
    padding: 1em 0em 1em 5em;
}
.watermelon {
    padding: 0em;
     width: 80%;
}

.myself {
     display: flex;
     justify-content: space-between;
     gap: 5em;
}
.myimg { 
     padding: 0em auto;
      width:20rem; 
    border-radius: 50%;
    /* border: 1px solid rebeccapurple; */
  
}
.paragraph {
    font-size: 1.6rem;
    padding: 0em;
    color: rgb(0, 0, 0);
    text-align: justify;
    margin: 0;
    
    

}
.paragraph2 {
    text-align: center;
    font-size: 25px;
    padding: 20px , 0px;
    align-content: center;
    color: rgb(43, 40, 40);
    align-content: center;
    padding: 20px , 0px;
     

}
.background {
    background-image: url("media/pexels-scott-webb-1029624.jpg");
    background-size: cover;
    margin-top: 0em;
     padding-bottom: 3em;
     margin-bottom: -1em;

}
.heading {
     text-align: center;
    font-family: music;
    letter-spacing: 0.2em;
    padding-top: 2em;
    color: rgb(19, 17, 17);
}
 .skillset{
    display: flex;
    justify-content: space-around;
    padding: 20px , 0px;
 }

.iimg {
    
   width: 5em;
   height: 4em;

}
.iimg:hover {
   width: 120px;
}
.project {

    display: flex;
    justify-content: space-around;
    margin-top: 20px;


}
.cimg {
    
    width: 15%;
    
    
 }
 
.hobbies {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: music;
    letter-spacing: 3px;
    font-size: 30px;

}
.ul{
   text-decoration: none;
}
.hobbies li 
{ text-decoration: none;}
.svg {
    width: 40px;
    margin-right: 10px;

}
.svg:hover {
    width: 50px ;
}

#form { 
     text-align: center;
     align-items: center;
     padding: 20px , 0px;
    margin-left: auto;
    margin-right: auto;
    padding-left: content;
    
}
.field {
    padding: 10px 30px;
    margin-bottom: 1em;
    border: 3px solid rgb(69, 48, 88);
    border-radius: 6px;

}
.description {
    padding: 50px 70px;
    margin-bottom: 1.9rem;
    border: 3px solid rgb(69, 48, 88);
    border-radius: 6px;
    


   
}

#formtext{
    font-size: 20px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#submitb {
     padding: 20px 30px;
     font-size: 20px;
     font-family: music;
     letter-spacing: 3px;
     margin-bottom: 30px;
     border: 3px solid rgb(69, 48, 88);
     border-radius: 6px;
     background-color: rgba(242, 8, 63, 0.705);
}
.socialicon { 
    width: 3.5em;



}
.socialmedia {
    padding-top: 1rem;
    display: flex;
    justify-content: space-evenly;
}
.socialicon:hover {
    width: 60px;
    
}

.footer{
    display: flex;
     justify-content: space-between;
     align-items: center;
     background: url("media/white.gif");
     background-size: cover;
}
.footerlogo {
    width: 2em;
   
}
.footerMylogo {
    width: 10em;
    
}
.footersocial{
    display: flex;
    gap: 2em;
}
.footertext{
    text-align: center;
    font-size: 1.2rem;
}
@media screen and (max-width:1024px){
    .header {
        flex-direction: column;
        align-items:center ;
    }

   .Sintro {
    text-align: center;

   }
   .myself {
    flex-direction: column;
    align-items: center;

}
.myimg{
    width: 16em;
   }
   .cimg {
    
    width: 20%;
 }
 .hobbies {
    flex-direction: column;
    align-items:center;
    gap: 1.5;
}
.svg {
    padding: 1.2em;
 }
 
}
@media screen and (max-width:640px) {
    .section {
        padding: 1em;
    }
    .nav {
        flex-direction: column;
        align-items: center;

     }
    .menuitem{
        padding: 0.6em 0em;

    }
    #intro{
        flex-direction: column;
        align-items: center;

    }
    .greet {
        text-align: center;
    }
    #Fname {
        text-align: center;

    }
    .Sintro {
        text-align: center;
        padding: 0em;
       }
   .myself {
        flex-direction: column;
        align-items: center;

   }
   .myimg{
    width: 14em;
   }
   .skillset {
     flex-direction: column;
     align-items: center;
     gap: 1.4em;
   }
   .iimg {
    width: 4.3em;
    height: 3em;
   }
  .paragraph{
    margin: 0em 2em;
     text-align: justify;
     font-size: 1.3rem;

  }
  .project {
    flex-direction: column;
    align-items: center;
  }
  .cimg{
       width: 40%;
  }
  .socialmedia {
    align-items: center;
    justify-content: center;
    gap: 2em;
  }
.socialicon {
 width: 2em;

}

.hobbies {
    flex-direction: column;
    align-items:center;
    gap: 1.5;
}
.svg {
   padding: 1.2em;
}
.footer {
    flex-direction: column;
    align-items: center;
    gap: 2em;
}
.footerlogo {
    padding: 0em;
}
.footersocial {
   display: flex;
}
}